@import url(https://fonts.googleapis.com/css?family=Roboto:300|Teko:400,300|Titillium+Web:400,300);

* {
	box-sizing: border-box;
}

/*~~~~~~~~~~~~~~~~~~~~~
 Helper classes
~~~~~~~~~~~~~~~~~~~~~*/

.clearfix:before, .clearfix:after{
	display: table;
	content: "";
}
.clearfix:after{
	clear: both;
}

.container{
	max-width: 1170px;
	margin: 0px auto;
	padding-left: 20px;
	padding-right: 20px;
}

.hide {
	display:none;
}

/*~~~~~~~~~~~~~~~~~~~~~
 Top Navigation
~~~~~~~~~~~~~~~~~~~~~*/

.logo {
	float: left;
}

.top-header {
	height: 70px;
	background-color: #fff;
	position: fixed;
	z-index: 1000;
	width:100%;
}

header nav ul {
	float: right;
	position: relative;
	top:30px;
}

header nav ul li {
	float: left;
	margin-left:40px;
	height:24px;
}

header nav a {
	text-decoration: none;
	font: 16px 'Titillium Web', sans-serif;
	color: rgba(0,0,0,0.5);
}

header a:hover + .page-indicator, header a:active + .page-indicator, header a.active-nav + .page-indicator { /* Third is a temp 'hack' to make home page show active state */ 
	background-color: #f63c3c;
	width: 100%;
	height:4px;
	margin-top: 12px;
}

header a:hover, header a:active, header a.active-nav {  
	color: #f63c3c;
}

/*~~~~~~~~~~~~~~~~~~~~~
 Hero/Slider
~~~~~~~~~~~~~~~~~~~~~*/

.hero {
	width: 100%;
	background: #7f7b7e url(../img/Background.jpg) center center no-repeat; /* fixed is optional, text scrolls over the background*/
	background-size: cover;
	height: 1012px;
	text-align: center;
	position: relative;
	height: 100vh;
}

h1 {
	font: 300 120px 'Teko', sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding-top: 300px;
	letter-spacing: 15px;
	line-height: 160px;
}

.hero p {
	display: inline-block;
	font: 300 22px 'Titillium Web', sans-serif;
	color: rgba(265,265,265,0.7);
	max-width: 67%;
}

.button {
	text-decoration: none;
	display: block;
	font: 20px 'Teko', sans-serif;
	color: #000;
	background-color: #fff;
	width: 230px;
	height: 50px;
	text-transform: uppercase;
	margin: 0 auto;
	vertical-align: middle;
	padding-top: 11px;
	margin-top: 50px;
	letter-spacing: 2px;
}

.indicator {
	margin: 0 auto;
	display: inline-block;
	text-align: center;
}

.indicator .active {
		background-color: rgba(265,265,265,1);
}

.indicator li {
	width: 40px;
	height: 4px;
	background-color: rgba(265,265,265,0.2);
	float:left;
	margin-right: 10px;
}

.hero nav {
	position: absolute;
	bottom: 40px;
	margin: 0 auto;
	width: 100%;
}

/*~~~~~~~~~~~~~~~~~~~~~
 Portfolio Section
~~~~~~~~~~~~~~~~~~~~~*/

/*.portfolio {
	margin: 0px 20px;
}*/

h2 {
	width: 100%;
	padding-bottom:55px;
	text-align: center;
	padding-top: 55px;
	font: 40px 'Teko', sans-serif;
	color: #000;
	letter-spacing: 5px;
	text-transform: uppercase;
}

article {
	width: 49%;
	float:left;
	/*padding-right: 10px;
	padding-left: 10px;*/
	/*margin-left: 10px;*/
	position: relative;
}

article:nth-child(even){
	margin-left: 2%;
	padding-right: 20px;
}

article:nth-child(odd){
	padding-left: 20px;
}

article img {
	width: 100%;
	height:auto;
}

h3 {
	margin-top: 25px;
	text-align: center;
}

h3 a {
	text-decoration: none;
	font: 30px 'Teko', sans-serif;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
}

figure {
	position: relative;
}

figcaption {
	opacity:0;
	position: absolute;
	top:0;
	left:0;
	z-index: 100;
	width:100%;
	height:99%;
	background: #f63c3c;
	border: 20px #352d2f solid;
	transition: all 0.3s ease-out;

	font: 300 24px 'Teko', sans-serif;
	color: #fff;
	line-height: 32px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

figcaption h4{
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-60%);
	-webkit-transform: translate(-50%, -60%);
	-ms-transform: translate(-50%, -60%);
	transform: translate(-50%, -60%);
}

article:hover figcaption:hover {
	opacity: 1;

}

article>p {
	font: 300 14px 'Titillium Web', sans-serif;
	color: #555;
	text-align: center;
	max-width: 65%;
	margin: 0 auto;
	line-height: 18px;
	margin-bottom: 35px;
}

figcaption time {
	display:block;
}

figcaption p {
	font-size: 18px;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.portfolio footer {
	margin-top: 50px;
	margin-bottom: 70px;
	background-color:#fff;
	text-align: center;
}

.portfolio footer a {
	font: 20px 'Teko', sans-serif;
	text-decoration: none;
	display: inline-block;
	color: #f63c3c;
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom: 4px solid #f63c3c;
	text-transform: uppercase;
	letter-spacing: 2px;
}



/*~~~~~~~~~~~~~~~~~~~~~
Contact/Footer
~~~~~~~~~~~~~~~~~~~~~*/

.cta{
	background: #f63c3c;
	text-align: center;
    padding: 60px 0;
    margin-bottom: 62px;
}

.cta h2{
	color: #fff;
	margin-bottom: 20px;
}

.cta p{
	color: #fff;
	margin-bottom: 20px;
	opacity: 0.7;
}

.social-media{
	
}

.social-media h2{
	text-align: left;
	margin-bottom: 20px;
}

.social-media p{
	margin-bottom: 60px;
}

.social-media ul li{
	position: relative;
	float: left;
	text-align: center;
	width: 24.25%;
	height: 195px;
	margin-right: 1%;
	background: #352d2f;
}
.social-media ul li:last-child{
	margin-right: 0;
}

.social-media .fa{
	display: block;	
	font-size: 40px;
	margin-bottom: 25px;
}

a.social-link{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 30px;
	letter-spacing: 2px;
	color: #fff;
	text-align: center;
}












































